body {
  background: no-repeat linear-gradient(300deg, #4cf9ff 40%, #fff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('thunderstorm.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 60%;
  background: #ffffff90;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.title {
  margin-top: 0;
  font-weight: 300;
  line-height: 2rem;
  color: gray;
  font-size: 1.5rem';
}

form input[name="search"] {
  padding: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 100;
  transition: all 0.5s;
  font-size: 2em;
  border-radius: 5px;
  margin-bottom: 5px;
  border-bottom: 3px solid #fff;
}
.weather-pill {
  margin: 1rem 0;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: white;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.weather-pill p {
  margin: 1rem;
  line-height: 1rem;
}
.weather-pill .temp {
  font-size: 4rem;
}
.weather-pill .weather-location {
  font-size: 2rem;
  line-height: 2rem;
}